{% extends 'base.html.twig' %}

{% block title %}Modifier Produit{% endblock %}

{% block body %}
<body class="g-sidenav-show  bg-gray-100">
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Modifier {{ produit.nom }}</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="p-4">
                {{ form_start(form) }}
                  <div class="row">
                    <div class="col-md-6">
                      {{ form_row(form.nom) }}
                    </div>
                    <div class="col-md-6">
                      {{ form_row(form.code) }}
                    </div>
                    <div class="col-md-6">
                      {{ form_row(form.categorie) }}
                    </div>
                    <div class="col-md-6">
                      {{ form_row(form.quantiteinitiale) }}
                    </div>
                    <div class="col-md-6">
                      {{ form_row(form.prixachat) }}
                    </div>
                    <div class="col-md-6">
                      {{ form_row(form.prixvente) }}
                    </div>
                  </div>
                  <button class="btn btn-primary">{{ button_label|default('Mettre à jour') }}</button>
                  <a href="{{ path('app_produit_index') }}" class="btn btn-secondary">Annuler</a>
                {{ form_end(form) }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
{% endblock %}