<!DOCTYPE html>

<title>Vente</title>

{% block body %}
    <h1>Vente</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vente.id }}</td>
            </tr>
            <tr>
                <th>Produit</th>
                <td>{{ vente.Produit }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ vente.Quantite }}</td>
            </tr>
            <tr>
                <th>PrixUnitaire</th>
                <td>{{ vente.PrixUnitaire }}</td>
            </tr>
            <tr>
                <th>Datedevente</th>
                <td>{{ vente.Datedevente ? vente.Datedevente|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Client</th>
                <td>{{ vente.Client }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_vente_index') }}">back to list</a>

    <a href="{{ path('app_vente_edit', {'id': vente.id}) }}">edit</a>

    {{ include('vente/_delete_form.html.twig') }}
{% endblock %}
